.blue{
    color:blue;
}

.red{
    color:red;
}

.green{
    color:green;
}

/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Times New Roman', 'Times', 'serif'; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    font-size: xx-large;
    color: rgba(0, 0, 255, 0.47); 
    font-weight: bold;
}

h2 {
    font-size: x-large;
    color: black;
}

h3 {
    color: purple;
}

h4 {
    font-size: small;
}

p {
  font-style: oblique;
    
}



button {
    /* Example Style, replace with your own! */
    background-color: green;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}



/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

   


/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Navbar [PLACEHOLDER] [ADDED IN UNIT 4] ***/

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

/* Default dark mode style */



/* Customize Dark Mode Theme */
.dark-mode {

}

/* Example: Different dark mode style for h1 */
.dark-mode h1 {
    
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
}

a:link {
    color: blue
}

a:visited {
    color: green
}

a:hover {
    color: red
}

a:active {
    color: black
}


.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.dark-mode h1 {
  background-color: black;
}
.dark-mode h2 {
  background-color: black;
}
.dark-mode h3 {
    color: white;
    background-color: black;
}

/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;

}

.rsvp-button{
  border: #231942;
}
.rsvp.para {
  width: 55%;
  padding-right: 10px;

}

.rsvp.participants {
  width: 45%;
  padding-right: 10px;
}

.error {
  border-style: solid;
  border-width: 2px;
  background-color:#f8bbd0; 

  /* Set border-color and background */
}


/* Add other rsvp-related selectors here */